﻿<h2 class="page-header">Mediafire => Sendspace Sync</h2>
<div data-bind="visible: displayLogin">
    <h3>Login</h3>
    <div class="row">
        <div class="col-xs-6 col-md-5 col-lg-4">
            <h4>Mediafire</h4>
            <div class="form-group">
                <label for="email1">Email address</label>
                <input type="email" class="form-control" id="email1" placeholder="Email" data-bind="value: mediafireEmail">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="Password" data-bind="value: mediafirePassword">
            </div>
            <div class="row" data-bind="visible: mediafireError">
                <div class="col-xs-12">
                    <span class="alert-danger" data-bind="text: mediafireError"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-5 col-lg-4">
            <h4>Sendspace</h4>
            <div class="form-group">
                <label for="email2">Email address</label>
                <input type="email" class="form-control" id="email2" placeholder="Email" data-bind="value: sendspaceUsername">
            </div>
            <div class="form-group">
                <label for="password2">Password</label>
                <input type="password" class="form-control" id="password2" placeholder="Password" data-bind="value: sendspacePassword">
            </div>
            <div class="row" data-bind="visible: sendspaceError">
                <div class="col-xs-12">
                    <span class="alert-danger" data-bind="text: sendspaceError"></span>
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary" data-bind="click: login">Login</button>
</div>
<div data-bind="visible: displayLoading">Loading changes...
    <div data-bind="visible: changesError">
    <span class="alert-danger" data-bind="visible: changesError, text: changesError"></span><br />
    <button class="btn btn-default" data-bind="click: loadChanges">Try again</button>
    </div>
    
 </div>
<div data-bind="visible: displayChanges">
    <table id="changes-table" class="table table-condensed">
        <thead>
            <tr>
                <th class="change-type">Task</th>
                <th class="change-path">Path</th>
                <th class="change-progress">Progress</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: changes, visible: changes().length > 0">
            <tr>
                <td data-bind="text: data.type"></td>
                <td data-bind="text: data.path"></td>
                <td>
                    <div class="progress" data-bind="visible: !error()">
                        <div class="progress-bar" role="progressbar" data-bind="css:{'progress-bar-info': progress() < 100, 'progress-bar-success': progress() >= 100 }, style:{width: progress()+'%'}, text: progress()+'%'"></div>
                    </div>
                    <div data-bind="visible: error">
                        <span class="alert-danger">Error</span>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody data-bind="visible: changes().length == 0">
            <tr><td colspan="3"><span class="alert-info">No changes</span></td></tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <button class="btn btn-primary" data-bind="click: start, enable: !started(), visible: changes().length > 0">Start</button>
                    <button class="btn btn-link" data-bind="click: logout">Logout</button>
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
@section scripts 
{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/app.js"></script>
}